.header {
    background-color: aquamarine;
    display: flex ;
    justify-content: space-between;
}
.outer {

    display: flex  ;
    flex-wrap: wrap;
    justify-content:space-evenly;

}
.footer {
    display: flex;
    justify-content: flex-end;
}